<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calculadora Científica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
      <ion-col size-md="8" size-lg="6" size-xs="12">
        <ion-text color="dark">
          <h1>Bienvenido a la Calculadora Científica</h1>
          <p style="font-size: 1.2rem; line-height: 1.6;">
            Esta aplicación te ofrece una calculadora científica avanzada para realizar
            cálculos complejos con precisión y rapidez. Navega a la calculadora para comenzar a
            resolver tus problemas matemáticos.
          </p>
        </ion-text>

        <ion-button color="primary" expand="block" class="ion-margin-top" (click)="goToLogin()">
          Ir al Login
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Sección de cards -->
    <ion-row class="ion-margin-top ion-justify-content-center">

      <ion-col size-xs="12" size-sm="6" size-md="4" *ngFor="let card of cards">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ card.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ card.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
